.row {
  display: flex;
  flex-wrap: nowrap;
  width: 500px;
}
.row .char {
  padding: 10px;
  margin: 5px;
  min-width: 20px;
  min-height: 20px;
  background-color: rgba(209, 254, 254, 0.8274509804);
}
.row .char:hover {
  cursor: pointer;
}
.row.rowActive .char {
  background-color: #6b91bd;
}
.row.rowActive .char:hover {
  cursor: pointer;
}
.row.rowInactive .char {
  background-color: #a5bdd9;
}
.row.rowInactive .char.exact {
  background-color: #66a15d;
}
.row.rowInactive .char.estimate {
  background-color: #a1a15d;
}
.row.rowInactive .char.invalid {
  background-color: #c28871;
}
.row.rowEmpty .char {
  background-color: rgba(194, 203, 214, 0.9098039216);
}